# Virtual Environment
myenv/

# Python Cache files
__pycache__/
*.pyc
app/__pycache__/
app/parsers/__pycache__/

# Environment Variables (where you will eventually store real passwords safely)
.env

# Ignored Project Files
required softwares.pages
*.zip

Screenshot 2026-06-06 at 4.01.05 PM.png
Screenshot 2026-06-06 at 4.45.01 PM.png